[submodule "backend"]
  path = backend
  url = https://github.com/tackernao0522/udemy_next_strapi_backend
[submodule "frontend"]
  path = frontend
  url = https://github.com/tackernao0522/udemy_next_strapi_frontend
